{erl_opts, [debug_info]}.
{deps,
  [
    {lager, "2.0.3", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
    {jsx, "1.4.5", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}},
    {hackney,"0.11.1",{git,"https://github.com/benoitc/hackney",{tag,"0.11.1"}}}
  ]
}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.

