{erl_opts, [
    %% Erlang releases after 17 don't put R in front of their name, and also require dict() to be written like dict:dict()
    {platform_define, "^[0-9]+", namespaced_dicts},
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors,
    fail_on_warning,
    debug_info]}.
{deps,
  [
    {jsx, "2.7.1", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.7.1"}}},
    {hackney,"1.3.1", {git,"https://github.com/benoitc/hackney",{tag,"1.3.1"}}}
  ]
}.
{dev_only_deps,
  [
    {meck, "0.8.3", {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}
  ]
}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{ct_dir, "ct"}.
{ct_log_dir, "ct/logs"}.
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.
{require_otp_vsn, "R16|17|18"}.
{use_edown, true}.
